<ion-header>
  <ion-toolbar>
    <ion-title>Boutique</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      @if (isLoading) { @for (item of skeletonItems; track item) {
      <ion-col size="6">
        <ion-skeleton-text
          [animated]="true"
          class="card-skeleton"
        ></ion-skeleton-text>
      </ion-col>
      } } @else { @for (photo of photoService.photos; track photo.filepath) {
      <ion-col size="6">
        <div
          class="photo-card"
          [class.locked]="!photo.purchased"
          [class.clickable]="photo.purchased"
          (click)="openPhoto(photo)"
        >
          <img [src]="photo.webviewPath" />
          @if (!photo.purchased) {
          <div class="overlay">
            <ion-icon name="lock-closed"></ion-icon>
            <div class="buy-actions">
              <ion-button
                expand="block"
                size="small"
                (click)="buyPhoto(photo.filepath)"
                >Acheter 5 € (CB)</ion-button
              >
              <ion-button
                expand="block"
                size="small"
                color="dark"
                (click)="buyPhotoWithGooglePay(photo.filepath)"
              >
                Google Pay
              </ion-button>
            </div>
          </div>
          } @else {
          <ion-icon
            name="expand"
            class="unlocked-badge"
            aria-label="Voir en plein écran"
          ></ion-icon>
          }
        </div>
      </ion-col>
      } }
    </ion-row>
  </ion-grid>
</ion-content>
