// For information on how to create your own theme, please refer to:
// https://ionicframework.com/docs/theming/

:root {
  --ion-color-primary: #810adc;
  --ion-color-primary-rgb: 129, 10, 220;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #7109c2;
  --ion-color-primary-tint: #8e23e0;
}
