<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Tab 1 </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-grid>
    <ion-row>
      @for (photo of photoService.photos; track photo.filepath; let i = $index)
      {
      <ion-col size="6">
        <div class="photo-item">
          <ion-img
            [src]="photo.webviewPath"
            class="photo-thumb"
            (click)="openPhoto(i)"
          ></ion-img>
          <div class="photo-actions">
            <ion-button
              fill="clear"
              size="small"
              (click)="toggleLike(photo.filepath)"
            >
              <ion-icon
                slot="icon-only"
                [name]="photo.liked ? 'heart' : 'heart-outline'"
                [color]="photo.liked ? 'danger' : 'medium'"
              ></ion-icon>
            </ion-button>
            <ion-button
              fill="clear"
              size="small"
              color="danger"
              (click)="confirmDelete(photo.filepath)"
            >
              <ion-icon slot="icon-only" name="trash"></ion-icon>
            </ion-button>
          </div>
        </div>
      </ion-col>
      }
    </ion-row>
  </ion-grid>

  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button (click)="takePhoto()">
      <ion-icon name="camera"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
