<ion-header>
  <ion-toolbar>
    <ion-title>Photo</ion-title>
    <ion-buttons slot="end">
      <ion-button aria-label="Fermer" (click)="dismiss()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-no-padding">
  <swiper-container
    #swiper
    class="photo-swiper"
    [attr.initial-slide]="initialSlide"
    (swiperslidechange)="onSlideChange($event)"
  >
    @for (photo of photos; track photo.filepath) {
      <swiper-slide>
        <div class="slide">
          <img [src]="photo.webviewPath" class="slide-image" />
          <div class="slide-info">
            <p class="slide-date">
              {{ getDate(photo) | date: "dd/MM/yyyy HH:mm" }}
            </p>
            <p class="slide-location">
              {{ locations[photo.filepath] || "Localisation…" }}
            </p>
          </div>
        </div>
      </swiper-slide>
    }
  </swiper-container>
</ion-content>
